<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body >
  <div>
    <header class="container bg-warning">
      <div class="row">
      <h1 class="col-3 pl-3">
        <a class="text-decoration-none" href="/">Tech blog</a>
      </h1>
      <nav class="col-9 text-end">
        {{#if loggedIn}}
        <a class="fs-2 text-decoration-none " href="/dashboard">dashboard</a>
        <a id="logout" class="fs-2 btn-no-style text-decoration-none">logout</a>
        {{else}}
        <a class="fs-2 text-decoration-none " href="/login">login</a>
        {{/if}}
      </nav>
      </div>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer class="text-center bg-warning mt-4 bottom">
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>