
{{#if loggedIn}}

<form class="comment-form m-4">
  {{> post-info post}}
  <div>
    <textarea class="my-2" name="comment-body"></textarea>
  </div>

  <div class="my-3">
    <button class ="btn bg-primary" type="submit">add comment</button>
  </div>
  {{> comments post.comments}}
</form>
 {{/if}}



{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}